/* Styles CSS pour une version mobile */

/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ///////////////////////////// Header ///////////////////////////// */

/* ///////////////////////////// main ///////////////////////////// */
main {
    flex: 1;
    overflow-y: auto;
}

/* ///////////////////////////// Titre ///////////////////////////// */
.titre {
    text-align: center;
    padding: 20px;
}
.titre h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* ///////////////////////////// Section hero ///////////////////////////// */
.hero {
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 50px 10px;
    /*flex: 1;*/
}

.hero .hero_left, .hero .hero_right {
    text-align: center;
    margin-bottom: 30px;
}
/* text */
.hero .hero_left h2 {
    margin-top: 0;
    font-size: 24px;
}
.hero .hero_left p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero .hero_left .div_button {
    text-align: center;
}
.hero .hero_left .div_button .button_fonce {
    /*background-color: #333;*/ /* Couleur de fond du bouton */
    background: linear-gradient(135deg, #333, #4a4a4a); /* Fond dégradé pour le bouton */
    color: #fff; /* Couleur du texte du bouton */

    border: none; /* Supprime les bordures du bouton */
    border-radius: 20px; /* Ajoute des coins arrondis au bouton */

    padding: 10px 20px; /* Ajoute un espace intérieur au bouton */
    font-size: 16px; /* Taille de la police du texte */
    font-weight: bold;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au bouton */
    cursor: pointer; /* Change le curseur lorsqu'on survole le bouton */
    text-decoration: none; /* Supprime les soulignements */
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hero .hero_left .div_button .button_fonce:hover {
    /*background-color: #555;*/ /* Couleur de fond du bouton au survol */
    background: linear-gradient(135deg, #4a4a4a, #333); /* Change le fond dégradé au survol */
    transform: translateY(-3px); /* Ajoute un effet de soulèvement au survol */
}
.hero .hero_left .div_button .button_fonce i {
    margin-right: 8px; /* Ajoute un espace entre l'icône et le texte */
}

/* image */
.hero .hero_right img {
    max-width: 80%;
    height: auto;
}

/* ///////////////////////////// Section services ///////////////////////////// */
.services {
    background-color: #c2c2c2;
    flex-direction: column;
    padding: 30px 10px;
}

.services .services_left, .services .services_right {
    text-align: center;
    margin-bottom: 30px;
}

/* // Left // */
.services .services_left{ /* sphère au centre */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sphère */
.tagcloud {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.tagcloud--item:hover {
    color: #ddd;
}
/* */

.services .services_right h2 {
    margin-top: 0;
    font-size: 24px;
}
.services .services_right p {
    margin-bottom: 30px;
    font-size: 18px;
}

/* button */
.services .services_right .div_button {
    text-align: center;
}
.services .services_right .div_button .button_fonce {
    background: linear-gradient(135deg, #333, #4a4a4a); /* Fond dégradé pour le bouton */
    color: #fff; /* Couleur du texte du bouton */

    border: none; /* Supprime les bordures du bouton */
    border-radius: 20px; /* Ajoute des coins arrondis au bouton */

    padding: 10px 20px; /* Ajoute un espace intérieur au bouton */
    font-size: 16px; /* Taille de la police du texte */
    font-weight: bold;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au bouton */
    cursor: pointer; /* Change le curseur lorsqu'on survole le bouton */
    text-decoration: none; /* Supprime les soulignements */
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.services .services_right .div_button .button_fonce:hover {
    background: linear-gradient(135deg, #4a4a4a, #333); /* Change le fond dégradé au survol */
    transform: translateY(-3px); /* Ajoute un effet de soulèvement au survol */
}
.services .services_right .div_button .button_fonce i {
    margin-right: 8px; /* Ajoute un espace entre l'icône et le texte */
}

/* ///////////////////////////// Section portfolio ///////////////////////////// */
.portfolio {
    padding: 30px 10px;
    max-height: 700px; /* Hauteur maximale de la section */
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
    background-color: #6e6c6c;
}

.portfolio h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

/* carrousel */
.portfolio .carrousel_container {
    /*
    max-width: 100%;
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
    */
    position: relative;
    overflow: hidden;
    padding-bottom : 10px;
}

/* bouton */
.portfolio .carrousel_container .prec_btn, .next_btn {
    font-size: 16px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(204, 204, 204, 0.5);
    border: 1px solid #ddd;
    padding: 10px 20px;
    cursor: pointer;
    /*opacity: 0.7;*/
}
.portfolio .carrousel_container .prec_btn {
    left: 10px;
}
.portfolio .carrousel_container .next_btn {
    right: 10px;
}

/* wrapper */
.portfolio .carrousel_container .carrousel_wrapper {
    display: flex;
    padding: 20px;
}
.portfolio .carrousel_container .carrousel_wrapper.slide-animation {
    transition: transform 0.5s ease-in-out; /* Durée et type de transition */
}
.portfolio .carrousel_container .carrousel_wrapper .projet {
    flex: 0 0 200px;
    /*margin-right: 80px;*/ /* Espacement entre les projets */
    padding: 40px; /* Espace à l'intérieur de chaque projet */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 24px; /* Coins arrondis */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Ombre douce */
    cursor: pointer;

    transition: transform 0.3s ease; /* Effet de transition pour un agrandissement fluide */
}
.portfolio .carrousel_container .carrousel_wrapper .projet:hover {
    /* Agrandit l'image lorsqu'elle est survolée */
    transform: scale(1.1);
    box-shadow: none;
}

/* conteneur projet */
.portfolio .carrousel_container .carrousel_wrapper .projet a img {
    width: 100%; /* Remplir l'espace disponible */
    height: auto;
    border-radius: 8px; /* Coins arrondis pour l'image */
}
.portfolio .carrousel_container .carrousel_wrapper .projet h3 {
    margin-top: 10px; /* Marge en haut du titre */
    font-size: 1.1em; /* Taille du titre */
}
.portfolio .carrousel_container .carrousel_wrapper .projet p {
    margin-top: 5px; /* Marge en haut du paragraphe */
    font-size: 0.9em; /* Taille du texte */
    margin-bottom: 2px;
}
.portfolio .carrousel_container .carrousel_wrapper .projet .infra_petit_h {
    margin-top: 5px;
    font-size: 0.9em; /* Taille du titre */
    margin-bottom: 4px;
}
.portfolio .carrousel_container .carrousel_wrapper .projet .infra_petit_p{
    margin-top : 0;
    font-size: 0.75em;
    margin-bottom: 0;
}

/* ///////////////////////////// Section mini_menu ///////////////////////////// */
.mini_menu {
    background-color: #f2f2f2;
    padding: 1px;
    padding-bottom: 50px;
}

.mini_menu h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.mini-menu {
    text-align: center; /* Centrer le menu */
    margin-bottom: 20px; /* Espacement sous le menu */
}

.mini-menu ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Enlève le padding par défaut */
    display: flex; /* Utilise flexbox pour aligner les éléments en ligne */
    flex-wrap: wrap; /* Affiche les éléments en colonne sur mobile */
    align-items: center; /* Centre les éléments */
    justify-content: space-between;
}

.mini-menu ul li {
    margin: 5px; /* Espace vertical entre les éléments */
    width: 45%; /* Chaque bouton prend environ la moitié de la largeur */
    box-sizing: border-box; /* Assure que le padding ne dépasse pas la largeur définie */
}

.mini-menu .button_mini-menu {
    display: inline-block; /* Rend le lien comme un bloc en ligne */
    width: 100%; /* Les boutons prennent toute la largeur disponible */
    box-sizing: border-box; /* Assure que le padding ne dépasse pas la largeur définie */
    padding: 8px; /* Ajuste le padding pour le mobile */
    background-color: #333; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border-radius: 5px; /* Coins arrondis */
    text-align: center;
    text-decoration: none; /* Supprime le soulignement */
    transition: background-color 0.3s; /* Animation lors du survol */
}

.mini-menu .button_mini-menu:hover {
    background-color: #555; /* Couleur de fond au survol */
}

/* ///////////////////////////// Section profil ///////////////////////////// */
.profil {
    background-color: #dfdfdf;
    padding: 50px 10px;
}

.profil h2 {
    text-align: center;
    font-size: 30px;
}

.profil .profil_container {
    flex-direction: column;
}

/* /// Left /// */
.profil .profil_container .profil_left, .profil .profil_container .profil_right {
    text-align: center;
    margin-bottom: 30px;
}
.profil .profil_container .profil_left p, .profil .profil_container .profil_right p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* ///////////////////////////// Section formations ///////////////////////////// */
.formations {
    padding: 20px; /* Réduit le padding */
    background-color: #cccccc;
}

.formations h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Styles du tableau pour la section des formations */
.formations .formations_table {
    width: 100%;
    border-collapse: collapse;
}

/* Ligne de formation en colonne inversée pour afficher le logo en dessous du texte */
.formations .formations_table tr {
    display: flex;
    flex-direction: column; /* Place le texte sous le logo */
}

.formations .formations_table td {
    padding: 15px; /* Réduit le padding autour du contenu */
}

/* Colonne pour les logos */
.formations .formations_table .logo_cell {
    text-align: center;
    margin-top: 10px; /* Espacement au-dessus de l'image */
}

.formations .formations_table .logo_cell img {
    max-width: 80%; /* Réduit la taille de l'image */
    height: auto;
    max-height: 100px; /* Limite la hauteur pour mobile */
}

/* Colonne pour le texte */
.formations .formations_table .text_cell {
    margin-bottom: 10px; /* Ajoute un espacement en bas */
}

.formations .formations_table .text_cell h3 {
    font-size: 20px; /* Taille réduite pour mobile */
    margin-bottom: 10px;
}

.formations .formations_table .text_cell p {
    margin-bottom: 10px; /* Espacement réduit entre paragraphes */
    font-size: 18px; /* Taille réduite pour mobile */
    line-height: 1.4;
}

.formations .formations_table .text_cell p a {
    color: black;
}

/* ///////////////////////////// Section compétences (langages) ///////////////////////////// */
.competences {
    padding: 20px;
    background-color: #b9b9b9;
}

.competences h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Container */
.competences .competences_container {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 5px;
}

.competences .competences_container p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0 10px; /* Ajustement des marges pour compacter */
}

/* sous container */
.competences .competences_container .sous_competences_container {
    margin-left: 15px;
    margin-bottom: 25px; /* Ajoute un espacement pour les sections */
}

.competences .competences_container .sous_competences_container h4{
    margin-bottom: 10px;
}

.competences .competences_container .sous_competences_container ul {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 10px; /* Ajout de padding pour un espacement intérieur */
}

.competences .competences_container .sous_competences_container li {
    margin-bottom: 5px; /* Espacement entre les éléments de liste */
    font-size: 16px; /* Taille de police réduite */
}

/* icônes langage */
.competences .competences_container .sous_competences_container .languages {
    margin-left: 22px;
    display: flex;
    flex-wrap: wrap; /* Permet un agencement compact */
    gap: 10px; /* Espace entre les images */
    margin-top: 10px;
}

.competences .competences_container .sous_competences_container .languages img {
    width: 30px; /* Taille réduite des icônes */
    height: auto;
    /* a voir, gourmand*/
    object-fit: contain; /* Assure que l'image reste dans les proportions (a voir)*/
    transition: transform 0.2s ease;
}

.competences .competences_container .sous_competences_container .languages img:hover {
    transform: scale(1.05); /* Légère mise en valeur au survol */
}

/* icônes Perf */
.competences .competences_container .sous_competences_container .perf {
    margin-left: 22px;
    display: flex;
    flex-wrap: wrap; /* Permet un agencement compact */
    gap: 10px; /* Espace entre les images */
    margin-top: 10px;
}

.competences .competences_container .sous_competences_container .perf img {
    width: 100px; /* Taille réduite des icônes */
    height: auto;
    transition: transform 0.2s ease;
}

.competences .competences_container .sous_competences_container .perf img:hover {
    transform: scale(1.05); /* Légère mise en valeur au survol */
}

/* ///////////////////////////// Section outils ///////////////////////////// */
/*
.outils {
    padding: 20px;
    background-color: #a6a6a6;
}

.outils h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
*/

/* ///////////////////////////// Section experiences ///////////////////////////// */
.experiences {
    padding: 20px;
    background-color: #929292;
}

.experiences h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Styles du tableau pour la section des formations */
.experiences .experiences_table {
    width: 100%;
    border-collapse: collapse;
}

/* Ligne de formation en colonne inversée pour afficher le logo en dessous du texte */
.experiences .experiences_table tr {
    display: flex;
    flex-direction: column; /* Place le texte sous le logo */
}

.experiences .experiences_table td {
    padding: 15px; /* Réduit le padding autour du contenu */
}

/* Colonne pour les logos */
.experiences .experiences_table .logo_cell {
    text-align: center;
    margin-top: 10px; /* Espacement au-dessus de l'image */
}

.experiences .experiences_table .logo_cell img {
    max-width: 80%; /* Réduit la taille de l'image */
    height: auto;
    max-height: 100px; /* Limite la hauteur pour mobile */
}

/* Colonne pour le texte */
.experiences .experiences_table .text_cell {
    margin-bottom: 10px; /* Ajoute un espacement en bas */
}

.experiences .experiences_table .text_cell h3 {
    font-size: 20px; /* Taille réduite pour mobile */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Période et poste empilés */
}
.experiences .experiences_table .text_cell h3 .periode{
    margin-right: 0;
    margin-bottom: 5px; /* Espacement vertical pour mobile */
}

.experiences .experiences_table .text_cell p {
    margin-bottom: 5px; /* Espacement réduit entre paragraphes */
    font-size: 18px; /* Taille réduite pour mobile */
    line-height: 1.2;
}
.experiences .experiences_table .text_cell p a {
    color: black;
}

.experiences .experiences_table .text_cell ul li {
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 1.2;
}

/* ///////////////////////////// Section suivi ///////////////////////////// */
.suivi {
    padding: 20px;
    background-color: #7f7f7f;
    text-align: center;
}

.suivi h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.suivi .suivi_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.suivi .suivi_container .suivi_container_logo {
    /*background-color: #fff;*/
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none; /* Supprime le soulignement */
}
.suivi .suivi_container .suivi_container_logo:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}

.suivi .suivi_container .suivi_container_logo .suivi_logo {
    /*background-color: #ccc;*/ /* Couleur de fond du logo */
    height: 200px;
    width: 200px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.suivi .suivi_container .suivi_container_logo .suivi_logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* controle l'image dans le conteneur sans rognage */
}

.suivi .suivi_container .suivi_container_logo p {
    /*margin-top: 10px;*/
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}
.suivi .suivi_container .suivi_container_logo .classement{
    font-size : 13px;
    color: #333;
}

/* ///////////////////////////// Section langues ///////////////////////////// */
.langues {
    padding: 20px;
    background-color: #6c6c6c;
}

.langues h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Styles du tableau pour la section des formations */
.langues .langues_table {
    width: 100%;
    border-collapse: collapse;
}

/* Ligne de formation en colonne inversée pour afficher le logo en dessous du texte */
.langues .langues_table tr {
    display: flex;
    flex-direction: column-reverse; /* Place le texte sous le drapeau */
}

.langues .langues_table td {
    padding: 15px; /* Réduit le padding autour du contenu */
}

/* Colonne pour le texte */
.langues .langues_table .text_cell {
    margin-bottom: 10px; /* Ajout d'un espacement en bas */
}

.langues .langues_table .text_cell h3 {
    font-size: 20px; /* Taille réduite pour mobile */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Période et poste empilés */
}

.experiences .experiences_table .text_cell p {
    margin-bottom: 5px; /* Espacement réduit entre paragraphes */
    font-size: 18px; /* Taille réduite pour mobile */
    line-height: 1.2;
}

/* Colonne pour les logos */
.langues .langues_table .logo_cell {
    text-align: center;
    margin-top: 10px; /* Espacement au-dessus de l'image */
}

.langues .langues_table .logo_cell img {
    max-width: 80%; /* Réduit la taille de l'image */
    height: auto;
    max-height: 100px; /* Limite la hauteur pour mobile */
}

/* ///////////////////////////// Section centres interets ///////////////////////////// */
.centres_interets {
    padding: 50px;
    background-color: #595959;
    text-align: center;
}

.centres_interets h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.centres_interets .centres_interets_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.centres_interets .centres_interets_container .centres_interets_item {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    padding: 15px 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none; /* Supprime le soulignement */
}

.centres_interets .centres_interets_container .centres_interets_item:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}

.centres_interets .centres_interets_container .centres_interets_item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* controle l'image dans le conteneur sans rognage */
}

.centres_interets .centres_interets_container .centres_interets_item p {
    font-size: 16px;
    font-weight: normal;
    color: #333;
}

/* ///////////////////////////// Section projets_cv ///////////////////////////// */
.projets_cv {
    padding: 50px;
    background-color: #464646;
    text-align: center;

    position: relative;
    overflow: hidden;
}

/* Bulles */
.projets_cv::before, .projets_cv::after, .projets_cv .bubble-top, .projets_cv .bubble-bottom, .projets_cv .bubble-between_right, .projets_cv .bubble-between_left {
    content: '';
    position: absolute;
    width: 50px; /* Taille réduite des bulles pour les petits écrans */
    height: 50px; /* Taille réduite des bulles pour les petits écrans */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%; /* Forme circulaire */
    pointer-events: none;
    animation: float 5s infinite ease-in-out;
}

/* Bulle en haut à gauche */
.projets_cv .bubble-top {
    left: 10%;
    top: 10px;
}

/* Bulle entre gauche */
.projets_cv .bubble-between_left {
    left: 20%;
    top: 50%;
}

/* Bulle entre droit */
.projets_cv .bubble-between_right {
    right: 20%;
    bottom: 50%;
}

/* Bulle en bas à droite */
.projets_cv .bubble-bottom {
    right: 10%;
    bottom: 10px;
}

/* Bulle à gauche */
.projets_cv::before {
    top: 70%;
    left: 5px; /* Position à gauche */
    transform: translateY(-50%);
}

/* Bulle à droite */
.projets_cv::after {
    top: 20%;
    right: 5px; /* Position à droite */
    transform: translateY(-50%);
}

/* Changement d'opacité selon position */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.1;
    }
    50% {
        transform: translateY(-20px);
        opacity: 0.3;
    }
}

.projets_cv h2 {
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
}

.projets_cv h2::before {
    content: '';
    position: absolute;
    width: 30px; /* Réduction de la largeur pour les petits écrans */
    height: 3px; /* Réduction de la hauteur pour les petits écrans */
    background: #000;
    bottom: -5px; /* Ajustement de la position pour les petits écrans */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px; /* Réduction du rayon pour les petits écrans */
}

.projets_cv .cv_div_projet_button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.projets_cv .cv_div_projet_button .button_claire {
    background: linear-gradient(135deg, #f0f0f0, #c0c0c0); /* Fond dégradé pour le bouton */
    color: #333; /* Couleur du texte du bouton */

    border: none; /* Supprime les bordures du bouton */
    padding: 10px 20px; /* Ajoute un espace intérieur au bouton */
    border-radius: 20px; /* Ajoute des coins arrondis au bouton */

    font-size: 16px; /* Taille de la police du texte */
    font-weight: bold;

    cursor: pointer; /* Change le curseur lorsqu'on survole le bouton */
    text-decoration: none; /* Supprime les soulignements */

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au bouton */

    transition: transform 0.3s, background 0.3s; /* Ajoute une transition pour les effets */
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.projets_cv .cv_div_projet_button .button_claire:hover {
    background: linear-gradient(135deg, #c0c0c0, #f0f0f0); /* Change le fond dégradé au survol */
    transform: translateY(-3px); /* Ajoute un effet de soulèvement au survol */
}
.projets_cv .cv_div_projet_button .button_claire i {
    margin-right: 8px; /* Ajoute un espace entre l'icône et le texte */
}

/* ///////////////////////////// Section contact ///////////////////////////// */
.contact {
    background-color: #333;
    color: #fff;
    padding: 30px 50px;
    text-align: center;
}

.contact h2 {
    margin-top: 0; /* Suppression de la marge supérieure */
    font-size: 30px; /* Taille du titre */
}

.contact form {
    display: flex; /* Affichage en ligne des éléments du formulaire */
    flex-direction: column; /* Disposition en colonne */
    justify-content: center;
    max-width: 100%;
    margin: 0 auto; /* Centrage horizontal du formulaire */
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: 10px; /* Espacement interne */
    margin-bottom: 20px; /* Marge inférieure entre les champs */
    border: 1px solid #fff; /* Bordure avec couleur blanche */
    border-radius: 5px; /* Coins arrondis */
    background-color: transparent; /* Fond transparent */
    color: #fff; /* Couleur du texte */
}

.contact input[type="text"], .contact input[type="email"] {
    height: 40px; /* Hauteur des champs de texte */
}

.contact .contact_valide {
    width: 100%;
}
.contact textarea {
    min-height: 150px; /* Hauteur minimale du champ de texte */
}

.contact .contact_valide {
    width: 50%; /* Largeur de 100% */

    padding: 10px 20px; /* Ajoute un espace intérieur au bouton */

    border: none; /* Supprime les bordures du bouton */
    /*border-radius: 5px;*/ /* Coins arrondis */
    border-radius: 20px; /* Coins arrondis */

    /*background-color: #fff;*/ /* Couleur de fond */
    background: linear-gradient(135deg, #f0f0f0, #c0c0c0); /* Fond dégradé pour le bouton */
    color: #333; /* Couleur du texte */

    font-weight: bold; /* Police en gras */
    font-size: 16px; /* Taille de la police du texte */

    cursor: pointer; /* Curseur de type pointeur */

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au bouton */

    transition: transform 0.3s, background 0.3s; /* Ajoute une transition pour les effets */
    display: inline-flex;
    margin: 0 auto 0 auto; /* Centre le bouton horizontalement */
    justify-content: center;
}
.contact .contact_valide:hover {
    /*background-color: #ddd;*/ /* Couleur de fond au survol */
    background: linear-gradient(135deg, #c0c0c0, #f0f0f0); /* Change le fond dégradé au survol */
    transform: translateY(-3px); /* Ajoute un effet de soulèvement au survol */
}
.contact .contact_valide i {
    margin-right: 8px; /* Ajoute un espace entre l'icône et le texte */
}


/* ///////////////////////////// button top ///////////////////////////// */
#retour_haut_btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    border-radius: 50%; /* Forme arrondie du bouton */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    font-size: 20px; /* Taille de la police du texte */
    line-height: 40px; /* Centrage vertical du texte */
    text-align: center; /* Centrage horizontal du texte */
    cursor: pointer; /* Curseur de type pointeur */
    z-index: 99; /* Assurer que le bouton reste au-dessus des autres éléments */
    transition: background-color 0.3s; /* Transition douce de couleur de fond */
}
#retour_haut_btn:hover {
    background-color: #555; /* Couleur de fond au survol */
}

/* ///////////////////////////// Footer ///////////////////////////// */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

footer p {
    margin: 0; /* Suppression des marges */
    font-size: 12px; /* Taille du texte */
}