/* Styles CSS pour une version mobile */

/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ///////////////////////////// Header ///////////////////////////// */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header nav {
    display: block;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* ///////////////////////////// main ///////////////////////////// */
main {
    flex: 1;
    overflow-y: auto;
}

/* ///////////////////////////// Titre ///////////////////////////// */
.titre {
    text-align: center;
    padding: 20px;
}
.titre h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* ///////////////////////////// Section hero ///////////////////////////// */
.hero {
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 50px 10px;
    /*flex: 1;*/
}

.hero .hero_left, .hero .hero_right {
    text-align: center;
    margin-bottom: 30px;
}
/* text */
.hero .hero_left h2 {
    margin-top: 0;
    font-size: 24px;
}
.hero .hero_left p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero .hero_left .div_button {
    text-align: center;
}
.hero .hero_left .div_button .button {
    background-color: #333; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Supprime les bordures du bouton */
    padding: 10px 20px; /* Ajoute un espace intérieur au bouton */
    font-size: 16px; /* Taille de la police du texte */
    border-radius: 5px; /* Ajoute des coins arrondis au bouton */
    cursor: pointer; /* Change le curseur lorsqu'on survole le bouton */
    text-decoration: none; /* Supprime les soulignements */
}
.hero .hero_left .div_button .button:hover {
    background-color: #555; /* Couleur de fond du bouton au survol */
}

/* image */
.hero .hero_right img {
    max-width: 80%;
    height: auto;
}

/* ///////////////////////////// Section services ///////////////////////////// */
.services {
    background-color: #c2c2c2;
    flex-direction: column;
    padding: 30px 10px;
}

.services .services_left, .services .services_right {
    text-align: center;
    margin-bottom: 30px;
}

/* // Left // */
.services .services_left{ /* sphère au centre */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sphère */
.tagcloud {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.tagcloud--item:hover {
    color: #ddd;
}
/* */

.services .services_right h2 {
    margin-top: 0;
    font-size: 24px;
}
.services .services_right p {
    margin-bottom: 30px;
    font-size: 18px;
}

/* button */
.services .services_right .div_button {
    text-align: center;
}
.services .services_right .div_button .button {
    background-color: #333; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Supprime les bordures du bouton */
    padding: 10px 20px; /* Ajoute un espace intérieur au bouton */
    font-size: 16px; /* Taille de la police du texte */
    border-radius: 5px; /* Ajoute des coins arrondis au bouton */
    cursor: pointer; /* Change le curseur lorsqu'on survole le bouton */
    text-decoration: none; /* Supprime les soulignements */
}
.services .services_right .div_button .button:hover {
    background-color: #555; /* Couleur de fond du bouton au survol */
}

/* ///////////////////////////// Section portfolio ///////////////////////////// */
.portfolio {
    padding: 30px 10px;
    max-height: 700px; /* Hauteur maximale de la section */
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
    background-color: #6e6c6c;
}

.portfolio h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

/* carrousel */
.portfolio .carrousel-container {
    /*
    max-width: 100%;
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
    */
    position: relative;
    overflow: hidden;
}

/* bouton */
.portfolio .carrousel-container .prec-btn, .next-btn {
    font-size: 16px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(204, 204, 204, 0.5);
    border: 1px solid #ddd;
    padding: 10px 20px;
    cursor: pointer;
    /*opacity: 0.7;*/
}
.portfolio .carrousel-container .prec-btn {
    left: 10px;
}
.portfolio .carrousel-container .next-btn {
    right: 10px;
}

/* wrapper */
.portfolio .carrousel-container .carrousel-wrapper {
    display: flex;
    padding: 20px;
}
.portfolio .carrousel-container .carrousel-wrapper.slide-animation {
    transition: transform 0.5s ease-in-out; /* Durée et type de transition */
}
.portfolio .carrousel-container .carrousel-wrapper .projet {
    flex: 0 0 200px;
    /*margin-right: 80px;*/ /* Espacement entre les projets */
    padding: 40px; /* Espace à l'intérieur de chaque projet */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 24px; /* Coins arrondis */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Ombre douce */
    cursor: pointer;

    transition: transform 0.3s ease; /* Effet de transition pour un agrandissement fluide */
}
.portfolio .carrousel-container .carrousel-wrapper .projet:hover {
    /* Agrandit l'image lorsqu'elle est survolée */
    transform: scale(1.1);
    box-shadow: none;
}

/* conteneur projet */
.portfolio .carrousel-container .carrousel-wrapper .projet a img {
    width: 100%; /* Remplir l'espace disponible */
    height: auto;
    border-radius: 8px; /* Coins arrondis pour l'image */
}
.portfolio .carrousel-container .carrousel-wrapper .projet h3 {
    margin-top: 10px; /* Marge en haut du titre */
    font-size: 1.2em; /* Taille du titre */
}
.portfolio .carrousel-container .carrousel-wrapper .projet p {
    margin-top: 5px; /* Marge en haut du paragraphe */
    font-size: 1em; /* Taille du texte */
}


/* ///////////////////////////// Section mini_menu ///////////////////////////// */
.mini_menu{

}

.mini-menu h2 {
    text-align: center;
    font-size: 30px;
}

/* ///////////////////////////// Section profil ///////////////////////////// */
.profil {
    background-color: #f2f2f2;
    padding: 50px 10px;
}

.profil h2 {
    text-align: center;
    font-size: 30px;
}

.profil .profil_container {
    flex-direction: column;
}

/* /// Left /// */
.profil .profil_container .profil_left, .profil .profil_container .profil_right {
    text-align: center;
    margin-bottom: 30px;
}
.profil .profil_container .profil_left p, .profil .profil_container .profil_right p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* ///////////////////////////// Section formations ///////////////////////////// */

/* ///////////////////////////// Section compétences (langages) ///////////////////////////// */

/* ///////////////////////////// Section contact ///////////////////////////// */
.contact {
    background-color: #333;
    color: #fff;
    padding: 30px 10px;
    text-align: center;
}

.contact h2 {
    margin-top: 0; /* Suppression de la marge supérieure */
    font-size: 30px; /* Taille du titre */
}

.contact form {
    display: flex; /* Affichage en ligne des éléments du formulaire */
    flex-direction: column; /* Disposition en colonne */
    justify-content: center;
    max-width: 100%;
    margin: 0 auto; /* Centrage horizontal du formulaire */
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: 10px; /* Espacement interne */
    margin-bottom: 20px; /* Marge inférieure entre les champs */
    border: 1px solid #fff; /* Bordure avec couleur blanche */
    border-radius: 5px; /* Coins arrondis */
    background-color: transparent; /* Fond transparent */
    color: #fff; /* Couleur du texte */
}

.contact input[type="text"], .contact input[type="email"] {
    height: 40px; /* Hauteur des champs de texte */
}

.contact .contact_valide {
    width: 100%;
}
.contact textarea {
    min-height: 150px; /* Hauteur minimale du champ de texte */
}

.contact .contact_valide {
    width: 50%; /* Largeur de 100% */
    padding: 10px 20px; /* Espacement interne */

    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Coins arrondis */

    background-color: #fff; /* Couleur de fond */
    color: #333; /* Couleur du texte */

    font-weight: bold; /* Police en gras */
    font-size: 16px; /* Taille de la police du texte */

    cursor: pointer; /* Curseur de type pointeur */
    transition: background-color 0.3s; /* Transition douce de couleur de fond */

    margin: 0 auto;
}

.contact .contact_valide:hover {
    background-color: #ddd; /* Couleur de fond au survol */
}

/* // button top //*/
#retour_haut_btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    border-radius: 50%; /* Forme arrondie du bouton */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    font-size: 20px; /* Taille de la police du texte */
    line-height: 40px; /* Centrage vertical du texte */
    text-align: center; /* Centrage horizontal du texte */
    cursor: pointer; /* Curseur de type pointeur */
    z-index: 99; /* Assurer que le bouton reste au-dessus des autres éléments */
    transition: background-color 0.3s; /* Transition douce de couleur de fond */
}
#retour_haut_btn:hover {
    background-color: #555; /* Couleur de fond au survol */
}

/* ///////////////////////////// Footer ///////////////////////////// */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

footer p {
    margin: 0; /* Suppression des marges */
    font-size: 12px; /* Taille du texte */
}